/*
	Theme Name: Legend-child
	Template: legend
	Theme URI: https://misfitthemes.com/legend/
	Author: Misfit Inc
	Author URI: http://misfit.co
	Description: A limited edition, artisan Wordpress theme made for rabble rousers, troublemakers and general riff raff.
	Version: 1.0
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


@import url("../legend/style.css");

/*----------------------------------------------------------------------------------------------------------------
										     PRELOADER
----------------------------------------------------------------------------------------------------------------*/


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999999999999999;
}

#status {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-image: url(images/loading-henry.gif);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}


#icing .home-feature {
    position: relative !important;
    height: 85vh !important;
}

.home-feature:after {
	clear: both;
}

#feature-img {
	position: fixed; 
	width: calc(100% - 60px );
	left: 60px;
	height: 100%; 
	object-fit: cover;
	will-change: transform;
	top: 0;
    z-index: -1;
    -webkit-transition: left .8s ease !important;
    -moz-transition: left .8s ease !important;
    -o-transition: left .8s ease !important;
    transition: left .8 ease !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 4px #888;
}

.stage {
  width: 100% !important;
  left: 60px;
  margin-left: 0 !important;
  position: relative;
 -webkit-transition: left .8s ease !important;
  -moz-transition: left .8s ease !important;
  -o-transition: left .8s ease !important;
  transition: left .8s ease !important;
  z-index: 2;
  background: #fff;
}

.navopen .stage {
  /*-webkit-transform: translateX(90%);
  transform: translateX(90%);*/
   box-shadow: 0 0 4px #888;
  z-index: 9999999999;
  left: 90%;
  margin-left: 0 !important;
  width: 100%;
}

.navopen .home-feature #feature-img {
    left: 90%;
    width: calc(100% - 60px );
    box-shadow: 0 0 4px #888;
    z-index: 9999999999;
}

.panel {
    min-height: 390px;
}

.panel p {
    position: absolute;
}